   #loading {
      text-align: center;
      display: none;
      margin-top: 20px;
    }

    #loading p {
      font-weight: bold;
      font-size: 38px;
      color: #333;
    }

    #container {
      display: none;
      text-align: center;
      margin: 20px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      padding: 20px;
      background-color: #0c1013;
      border-radius: 10px;
    }

    #inputUrl {
      outline: none !important;
    }

    #thumb img {
      width: 100%;
      height: 300px;
    }

    .dlbtns {
      display: inline-block;
      padding: 10px 20px;
      margin: 5px;
      text-align: center;
      border-radius: 5px;
      font-size: 14px;
      font-weight: bold;
      color: white;
      cursor: pointer;
      width: 150px;
      /* Fixed width */
      transition: background-color 0.3s;
    }

    .centerV {
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
    }

    .wave {
      width: 5px;
      height: 100px;
      background: linear-gradient(45deg, red, #fff);
      margin: 10px;
      animation: wave 1s linear infinite;
      border-radius: 20px;
    }

    .wave:nth-child(2) {
      animation-delay: 0.1s;
    }

    .wave:nth-child(3) {
      animation-delay: 0.2s;
    }

    .wave:nth-child(4) {
      animation-delay: 0.3s;
    }

    .wave:nth-child(5) {
      animation-delay: 0.4s;
    }

    .wave:nth-child(6) {
      animation-delay: 0.5s;
    }

    .wave:nth-child(7) {
      animation-delay: 0.6s;
    }

    .wave:nth-child(8) {
      animation-delay: 0.7s;
    }

    .wave:nth-child(9) {
      animation-delay: 0.8s;
    }

    .wave:nth-child(10) {
      animation-delay: 0.9s;
    }

    @keyframes wave {
      0% {
        transform: scale(0);
      }

      50% {
        transform: scale(1);
      }

      100% {
        transform: scale(0);
      }
    }





    .mt-5,
    .my-5 {
      margin-top: 0.5rem !important;
    }



    .custom-shape-divider-bottom-1610026357 {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
      transform: rotate(0deg);
    }

    .custom-shape-divider-bottom-1610026357 svg {
      position: relative;
      display: block;
      width: calc(100% + 15.3px);
      height: 0px;
    }

    .custom-shape-divider-bottom-1610026357 .shape-fill {
      fill: #ffff00;
    }

    .herosec {
      min-height: calc(100vh - 0px);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
    }

    .download-video iframe {
      border-radius: 10px;
      position: relative;
    }

    .download-video {
      position: relative;
    }

    .download-video iframe::after {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: red;
      z-index: 5;
    }


    .myselect {
      display: flex;
      width: 100%;
      justify-content: end;
    }

    .searchsec {
      background: white;
    }

    @media(max-width:500px) {
      .searchsec {
        flex-wrap: wrap;
        display: flex;
      }


      .searchsec {
        border: none;
        background: transparent;
      }

      .searchsec input {
        border: 1px solid black;
        border-radius: 10px;
        margin-bottom: 10px;
      }

      .myselect {
        display: flex;
        width: 100%;
        justify-content: center;
      }

    }
