body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    text-wrap: break-word;
    overflow-wrap: break-word;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

#form {
    text-align: center;
    margin: 10px 0;
}

#inputUrl {
    padding: 10px;
   min-width:100%; /* Full width input */
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#downloadBtn {
    padding: 10px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    width:100%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

#downloadBtn:hover {
    background-color: #0056b3;
}

#loading {
    text-align: center;
    display: none;
    margin-top: 20px;
}

#loading p {
    font-weight: bold;
    font-size: 38px;
    color: #333;
}

#container {
    display: none;
    text-align: center;
    margin: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

#thumb img{
    width: 100%;
    height: 300px;
}
.dlbtns{
    padding: 10px;
    cursor: pointer;
    border: none;
    width:auto;
    margin: 5px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.centerV {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, red, #fff);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}



/* Add more styling as needed */

/* Responsive styles for smaller screens */
@media only screen and (max-width: 600px) {
    #inputUrl {
        width: 100%;
    }

    nav {
        display: block;
        text-align: center;
    }

    nav li {
        display: block;
        margin: 10px 0;
    }
}
footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
}
